<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

            <form action="/ok.py/" method="post">
                  ENter 1st number:
                  <input type="number" id="fname" name='fname'>
                </br>
                ENter second number:
            <input type="number" id="lname" name='lname'>
                </br>
                Enter third number
                 <input type="number" id="tname" name='tname'>
                </br>


                <button type="submit" id="btn">Submit</button>

                  </form>
<span>{{results}}</span>


</body>
</html>